## This homework assesses your ability of building and deploying your applications. 


`start date: Nov 22nd 11:59 PM` <br>
`due date: Dec 5th 11:59 PM`

### Make sure you submitted your submissions to BrightSpace.

`Total credits:  63/53`

You're welcome to share your thoughts about the homework and the course materials here: https://forms.gle/Kd9AoUZwkMiF8Vx5A

# P1: File path related questions

In the following structure, `project`, `data`, and `scripts` are folder names. `my_notebook.ipynb` is the Jupyter Notebook you used to create these folders.

```python
project/
    data/
        file_name.csv
    scripts/
        script.py
my_notebook.ipynb  

```

`P1.1   3 pts` Suppose I'm currently at the same level as the project folder, meaning I am outside the project folder but within the same parent directory. I want to open the file_name.csv file using the following code written in my my_notebook.ipynb:

```python
df = pd.read_csv('file_name.csv')

```
Will this code work? If not, how should I revise it?

No it should be: df = pd.read_csv('project/data/file_name.csv'). This ensures the file is being accessed within the correct path.

`p1.2 3 pts`  Suppose you are now in the `data` folder, and you want to re-write your `script.py` file using the `%%writefile` method while reflecting all your actions (e.g., cd commands, file path changes) within the `my_notebook.ipynb` file. Can you demonstrate how you would accomplish this?

1) cd ..
2) %%writefile scripts/script.py
rest of file contents

`p1.3 3 pts`  Suppose you are outside of the `project` folder but still within the same parent directory, and you want to re-write your `script.py` file using the `%%writefile` method while reflecting all your actions (e.g., cd commands, file path changes) within the `my_notebook.ipynb` file. Can you demonstrate how you would accomplish this? Assume you did everything within your `my_notebook.ipynb`.

%%writefile project/scripts/script.py

`p1.4 3 pts` Suppose you are outside of the project folder but still within the same parent directory, and you want to create a sub-folder named `test_data` under the `data` folder. Can you demonstrate how you would accomplish this? Assume you did everything within your `my_notebook.ipynb`.

%mkdir project/data/test_data

`p1.5 5 pts` Suppose you are outside of the project folder but still within the same parent directory, and you want to import your script.py file as a module. Your `script.py` file as the following contents:

```python
df = pd.read_csv('file_name.csv')
```

You have used the following codes to do the import within your `my_notebook.ipynb` file:

```python
import script
```

What are the issues with the script.py file ifself and also the way to import it? Explain bellow and fix it yourself.

df = pd.read_csv('project/data/file_name.csv')
from project/scripts import script

`p1.6 6 pts` Suppose you are outside of the project folder but still within the same parent directory, and you want to first import the class `clean_data`  from `script.py`, and then create an instance of the class. Your `script.py` file as the following contents:

```python
class clean_data:

    def __init__(self):
        df = pd.read_csv(`file_name.csv`)
```

You have used the following codes to import and create instance:

```python
import script

clean_data = clean_data()

```

What are the issues with the script.py file ifself(1 issue ) and also the way to import it (2 issues)  and create instance(1 issue) ? Explain bellow and fix it yourself.

# P2. `30 pts` Coding challenges (Individual version)

For this question, you will build a movie recommendation system using K-Nearest Neighbors (KNN) and create a webpage interface with Streamlit. The Streamlit webpage should allow the user to input a movie name they have watched before, and based on that input, the system will recommend 4 similar movies. Additionally, you will deploy your Streamlit app on AWS EC2.

For this question, I will place fewer restrictions on the choice of data and features, allowing you to mimic real-world decision-making as data professionals. In previous assignments, I guided you step-by-step to teach you how to correctly code each small part. Now that youâ€™ve gained those foundational skills, this assignment will focus more on exercising your ability to design and solve problems independently.

You are free to use any dataset you like for this assignment. The movie dataset from HW8 is sufficient, but you are welcome to explore and use other datasets if you prefer.

Your final submission should include:

- A screenshot of the Streamlit webpage displaying your app and its recommendations.
- The source code used to create the application.

`Bonus 10 pts` use a pre-trained LLM model to add a short description to the movie provided by the user.

In [1]:
import pandas as pd
df = pd.read_csv('movies_cleaned.csv')

In [2]:
df.head()

   movie_id                    title  year          genres  avg_rating
0    136782  The Girl is in Trouble   2015        Thriller         5.0
1    186119            A Gift Horse   2015        Children         5.0
2    137032    The Perfect Neighbor   2005  Drama|Thriller         5.0
3    184643              Relentless   2018        Thriller         5.0
4    137038        The Perfect Wife   2001  Drama|Thriller         5.0

In [3]:
df.isnull().sum()

movie_id         0
title            7
year           407
genres           0
avg_rating    3376
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58671 entries, 0 to 59046
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   movie_id    58671 non-null  int64
 1   title       58671 non-null  object
 2   year        58671 non-null  object
 3   genres      58671 non-null  object
 4   avg_rating  58671 non-null  float64
 5   genre_list  58671 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 3.1+ MB

In [2]:
df = df.dropna()
df['title'] = df['title'].str.strip()

In [3]:
df['genre_list'] = df['genres'].str.split('|')

In [4]:
df = df[df['genres'] != '(no genres listed)']  # drop rows with no genre

In [5]:
df['year_new'] = pd.to_numeric(df['year'], errors='coerce')
df = df[(df['year_new'] >= 1800) & (df['year_new'] <= 2100)]

In [6]:
df.head()

,movie_id,title,year,genres,avg_rating,genre_list,year_new
0,136782,The Girl is in Trouble,2015,Thriller,5.0,[Thriller],2015.0
1,186119,A Gift Horse,2015,Children,5.0,[Children],2015.0
2,137032,The Perfect Neighbor,2005,Drama|Thriller,5.0,"[Drama, Thriller]",2005.0
3,184643,Relentless,2018,Thriller,5.0,[Thriller],2018.0
4,137038,The Perfect Wife,2001,Drama|Thriller,5.0,"[Drama, Thriller]",2001.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49519 entries, 0 to 59046
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   movie_id    49519 non-null  int64
 1   title       49519 non-null  object
 2   year        49519 non-null  object
 3   genres      49519 non-null  object
 4   avg_rating  49519 non-null  float64
 5   genre_list  49519 non-null  object
 6   year_new    49519 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 3.0+ MB

In [8]:
df.to_csv('movies_cleaned_2.csv')

In [46]:
%%writefile similar_movies.py
import streamlit as st
import pandas as pd
import numpy as np
import ast

st.title('Similar Movie Finder')

df = pd.read_csv('movies_cleaned_2.csv',index_col=0)
df['genre_list'] = df['genre_list'].apply(ast.literal_eval)

def genre_similarity(genres1,genres2):
    return len(set(genres1) & set(genres2))

movie_title_input = st.text_input('Input Movie')
input_index = df['title'] == movie_title_input
input_genre_list = df[input_index]['genre_list'].iloc[0]

num_sim_genres = []
for i, row in df.iterrows():
    num_sim_genres.append(genre_similarity(row['genre_list'], input_genre_list))
    
df['num_sim_genres'] = num_sim_genres

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

knn_scaled = scaler.fit_transform(df[['year_new','avg_rating','num_sim_genres']])

input_movie = knn_scaled[input_index]

distances = []
for row in knn_scaled:
    distance = np.sqrt(np.sum((row - input_movie) ** 2))  # Euclidean distance
    distances.append(distance)

df['distance'] = distances

similar_movies_sorted = df.sort_values(by='distance').head(25)
suggested = similar_movies_sorted.iloc[1:5,1]

st.write('Suggested Similar Movies:', suggested)

Writing similar_movies.py

In [47]:
!streamlit run similar_movies.py

^C

In [45]:
suggested

9488         Watchmen
2198        Inception
20132    Strange Days
38248         Knowing
Name: title, dtype: object

In [43]:
similar_movies_sorted

,movie_id,title,year,genres,avg_rating,genre_list,year_new,num_sim_genres,distance
8788,85414,Source Code,2011,Action|Drama|Mystery|Sci-Fi|Thriller,3.748948,"[Action, Drama, Mystery, Sci-Fi, Thriller]",2011.0,5,0.000000
9488,60684,Watchmen,2009,Action|Drama|Mystery|Sci-Fi|Thriller|IMAX,3.707579,"[Action, Drama, Mystery, Sci-Fi, Thriller, IMAX]",2009.0,5,0.098503
2198,79132,Inception,2010,Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX,4.155508,"[Action, Crime, Drama, Mystery, Sci-Fi, Thrill...",2010.0,5,0.554669
20132,198,Strange Days,1995,Action|Crime|Drama|Mystery|Sci-Fi|Thriller,3.417997,"[Action, Crime, Drama, Mystery, Sci-Fi, Thriller]",1995.0,5,0.788020
38248,67197,Knowing,2009,Action|Drama|Mystery|Sci-Fi|Thriller,2.949247,"[Action, Drama, Mystery, Sci-Fi, Thriller]",2009.0,5,1.091127
7421,114935,Predestination,2014,Action|Mystery|Sci-Fi|Thriller,3.778473,"[Action, Mystery, Sci-Fi, Thriller]",2014.0,4,1.255891
5914,113741,Coherence,2013,Drama|Mystery|Sci-Fi|Thriller,3.864679,"[Drama, Mystery, Sci-Fi, Thriller]",2013.0,4,1.261855
13679,88744,Rise of the Planet of the Apes,2011,Action|Drama|Sci-Fi|Thriller,3.547622,"[Action, Drama, Sci-Fi, Thriller]",2011.0,4,1.279057
12006,27904,"Scanner Darkly, A",2006,Animation|Drama|Mystery|Sci-Fi|Thriller,3.612601,"[Animation, Drama, Mystery, Sci-Fi, Thriller]",2006.0,4,1.279142
7948,188879,Welcome the Stranger,2018,Drama|Mystery|Sci-Fi|Thriller,3.750000,"[Drama, Mystery, Sci-Fi, Thriller]",2018.0,4,1.281012
8659,202043,A Different Loyalty,2004,Action|Drama|Mystery|Romance|Thriller,3.750000,"[Action, Drama, Mystery, Romance, Thriller]",2004.0,4,1.281012
5467,48774,Children of Men,2006,Action|Adventure|Drama|Sci-Fi|Thriller,3.897896,"[Action, Adventure, Drama, Sci-Fi, Thriller]",2006.0,4,1.281741
6930,7445,Man on Fire,2004,Action|Crime|Drama|Mystery|Thriller,3.807955,"[Action, Crime, Drama, Mystery, Thriller]",2004.0,4,1.283525
14281,91500,The Hunger Games,2012,Action|Adventure|Drama|Sci-Fi|Thriller,3.518994,"[Action, Adventure, Drama, Sci-Fi, Thriller]",2012.0,4,1.288596
12640,27788,"Jacket, The",2005,Drama|Mystery|Sci-Fi|Thriller,3.587809,"[Drama, Mystery, Sci-Fi, Thriller]",2005.0,4,1.291444
4497,191741,Golden Slumber,2010,Action|Comedy|Drama|Mystery|Thriller,4.000000,"[Action, Comedy, Drama, Mystery, Thriller]",2010.0,4,1.295866
9889,5445,Minority Report,2002,Action|Crime|Mystery|Sci-Fi|Thriller,3.689998,"[Action, Crime, Mystery, Sci-Fi, Thriller]",2002.0,4,1.303725
2681,68237,Moon,2009,Drama|Mystery|Sci-Fi|Thriller,4.017548,"[Drama, Mystery, Sci-Fi, Thriller]",2009.0,4,1.304244
13894,158284,Ghajini,2005,Action|Drama|Mystery|Thriller,3.538462,"[Action, Drama, Mystery, Thriller]",2005.0,4,1.304523
15392,141860,Broken Horses,2015,Action|Crime|Drama|Mystery|Thriller,3.500000,"[Action, Crime, Drama, Mystery, Thriller]",2015.0,4,1.304540
13072,178865,I Witness,2003,Action|Adventure|Crime|Drama|Mystery|Thriller,3.571429,"[Action, Adventure, Crime, Drama, Mystery, Thr...",2003.0,4,1.312950
17217,198975,Battle of Memories,2017,Drama|Mystery|Sci-Fi|Thriller,3.500000,"[Drama, Mystery, Sci-Fi, Thriller]",2017.0,4,1.317003
5094,6902,Interstate 60,2002,Adventure|Comedy|Drama|Fantasy|Mystery|Sci-Fi|...,3.930140,"[Adventure, Comedy, Drama, Fantasy, Mystery, S...",2002.0,4,1.324404
16181,174905,5ive Days to Midnight,2004,Action|Drama|Sci-Fi|Thriller,3.500000,"[Action, Drama, Sci-Fi, Thriller]",2004.0,4,1.325040
2835,198817,Payday,2018,Action|Drama|Mystery|Thriller,4.000000,"[Action, Drama, Mystery, Thriller]",2018.0,4,1.325775

In [24]:
input_index = df['title'] == movie_title_input

In [33]:
suggested

,movie_id,title,year,genres,avg_rating,genre_list,year_new,num_sim_genres,distance
411,139473,Lost Woods,2012,Action|Horror|Sci-Fi|Thriller,5.000000,"[Action, Horror, Sci-Fi, Thriller]",2012.0,3,0.040417
185,132124,Say Nothing,2001,Action|Drama|Mystery|Romance|Sci-Fi|Thriller,5.000000,"[Action, Drama, Mystery, Romance, Sci-Fi, Thri...",2001.0,3,0.485008
1421,125253,The Cure,2014,Action|Sci-Fi|Thriller,4.500000,"[Action, Sci-Fi, Thriller]",2014.0,3,0.681534
2198,79132,Inception,2010,Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX,4.155508,"[Action, Crime, Drama, Mystery, Sci-Fi, Thrill...",2010.0,3,1.155454

# P2. `30 pts` Coding challenges (Group version)

For this assignment, you are allowed to collaborate with up to 2 classmates and turn it into a group project. You can choose any problem and dataset to work on, but your project must demonstrate 3 of the following skills. Note: You must include either 3 (Running the project in Docker) or 4 (Deploying the application on AWS EC2) as one of your chosen skills.

1. Creating a Python package.
2. Building a webpage using Streamlit with user input functionality.
3. Running the project in Docker (mandatory if 4 is not chosen).
4. Deploying the application on AWS EC2 (mandatory if 3 is not chosen).
5. Applying KNN to solve a problem.
6. Utilizing LLM models in your application.


In your submission, you must clearly list your teammates' names, and each team member must submit the assignment individually on Brightspace.

Your final submission should include:

- A screenshot of the Streamlit webpage displaying your app and its functionality.
- The source code for the application.

`Bonus 10 pts` 


Prepare a roughly 5 minute presentation to deliver in class. If you plan to present, please notify me at least 2 days before the deadline to allow sufficient time for adjustments to the course schedule. Bonus points will be awarded after the presentation.